.boardgame-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keys {
  display: flex;
  justify-content: center;
  font-size: 24px;
}
.keyboard-letters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 40em;
  justify-content: center;
  column-gap: 15px;
  row-gap: 15px;
  margin: 2em;
}
.char-button {
  text-align: center;
  justify-content: space-around;
}
.char-button:disabled {
  text-decoration: line-through 1px black;
  color: red;
  background-color: rgba(240, 248, 255, 0.334);
}
