.dash-container {
  display: flex;
  flex-direction: row;
  margin: 2em;
  column-gap: 10vh;
}

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4em;
  min-width: 10vh;
}
.icons {
  font-size: 3em;
}
.word-dashes {
  font-size: 24px;
}
