.dash-container {
  display: flex;
  flex-direction: row;
  max-width: 1280px;
  column-gap: 10vh;
}

.icons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 4em;
  min-width: 10vh;
}
.icons {
  font-size: 3em;
}
.word-dashes {
  font-size: 25px;
}

/* Add Responsive Styles */
@media screen and (max-width: 768px) {
  .boardgame-container {
    margin: 0;
    padding: 0;
  }
  .dash-container {
    flex-direction: row;
    column-gap: 3em;
    align-items: center;
    padding-left: 2vh;
  }

  .icons-container {
    flex-direction: column;
    row-gap: 2em;
    min-width: auto;
  }
  .title {
    font-size: 30px;
    width: 100%;
  }
  .hangman-image {
    width: 250px;
    height: 250px;
  }
  .icons {
    font-size: 25px;
  }

  .word-dashes {
    margin: 1em;
    font-size: 19px;
  }

  .keyboard-letters {
    max-width: 100%;
  }
}
