#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: "Rubik Doodle Shadow", sans-serif;
  font-size: 4em;
}
.category-buttons {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  margin: 0 auto;
  row-gap: 10px;
}
.category-text {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}
#question-icon {
  margin-top: 30px;
}
